@{
    ViewData["Title"] = "Home Page";
}

<<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4 animate__animated animate__fadeInDown" style="color: #007bff;">Welcome to HUTRA Website</h1>
            <p class="lead">Explore our services and discover more</p>
        </div>
    </div>

</div>

